/* Custom background auto input */
input:-webkit-autofill {
    background-color: #1f2937 !important; /* bg-gray-800 */
    -webkit-box-shadow: 0 0 0px 1000px #1f2937 inset !important;
    -webkit-text-fill-color: white !important;
    transition: background-color 5000s ease-in-out 0s;
}

/* Fix bug modal  */
[x-cloak] { display: none !important; }
